





#bttn{
    
    -fx-effect : dropshadow(one-pass-box,yellowgreen,6,0,0,0);

    -fx-background-color:whitesmoke;
    -fx-background-radius : 010%;
    
}

#bttn:hover{
    
    
    -fx-effect : dropshadow(one-pass-box,#2517ef,13,0,0,0);
    
}

